/*#caixa{
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 10px;
    border-radius: 10px 70px;
    padding: 15px;
    box-sizing: border-box;
}*/

#caixa{
    width: 300px;
    height: 300px;
    /*background-image: url(../../../Projetos/Projeto05/imagens/apartamento.jpg);*/
   /* background: linear-gradient(to left, red,green);*/
   background: radial-gradient(red, blue, #b9c941);
}

#caixa h1{
    background: rgba(255,2558,255,0);
}
