header{
    height: 150px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: right;
    background-color: #604f49;
}
#logo{
    padding-left: 20px;
    font-size: 2.5em;
    flex-grow: 1;
    display: flex;
}
#links-barra-navegação{
    flex-grow: 3;
    display: flex;
    justify-content: right;
}
#links-barra-navegação a{
    text-decoration: none;
    line-height: 2em;
    font-weight: bold;
    color: #e39c45;
}
ul li{
    padding: 0px 10px;
    display: block;
    float: left;

}