body{
    background-image: url("imagens/fundo.png");
    margin-left: 20%;
    margin-right:10% ;
}
.nav-bar{
    color: rgba(70, 88, 189, 0.904);
    position: sticky;
    top: 0%;
}


.barra-navegação{
    width: 800px;
    height: 50px;
    margin: 0;
    /*text-align: center;*/
    align-content: center;
    position: sticky;
    top: 0%;
    font-weight: 800;
    font-size: 25px;
    background-color: #acac9c;
}
.BTN{
    position: fixed;
    top: 90%;
    right: 5%;
    background-color: #139413;
    font-size: 15px;
}
.conteudo{
    width: 770px;
    background-color: #c5c5b2;
    padding: 15px;
}
.rodape{
    width: 800px;
    text-align: center;
    align-content: center
}

.img{
    border: 10px solid #c3c3ae;
}

a{
    color: #4b566a;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}