.rotulo{
    display: block;
    border: 0px solid black;
    width: 400px;
    cursor: pointer;
    
}
body{
    background: url(imagens/fundo.jpg) ;
    background-image: 100%;
    background-repeat: no-repeat;
}
input{
    margin-left: 10px;
}
.clear{
    display: none;
}
