header{
    height: 180px;
    width: 100%;
    padding-top: 10px;
    background-color: rgb(41, 76, 113);
    background-size: 200px;
    background-image: url(imagens/fundo.png);
    background-repeat: repeat-x;
    background-position: bottom center;
}
#logo{
    width: 150px;
    margin-left: 10%;
    margin-top: 1%;
    display: block;
}
#logo-menor{
    z-index: -0;
    top: -60px;
    margin-right: 20%;
    float: right;
    display: block;
    position: relative;
}
#cabeçalho{
    height: 100px;
    width: 600px;
    display: block;
    z-index: 1;
    position: absolute;
}
ul{
    position: relative;
    margin-left: 10%;
    list-style-type: none;
}

#cabeçalho LI span a:hover{
    background-color: #ffee97;
    color: black;
}

#cabeçalho li span a{
    background-image: url(imagens/divisor.png);
    background-repeat: no-repeat;
    background-position: left center;
    display: block;
    
    float: left;
    background-color: brown;
    padding: 5px 10px;
    line-height: 2em;
}

#cabeçalho li span a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}


/* 
-----------------------------------------------------------
*/
#conteudo{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#barra-esquerda{
    width: 22%;
    /*border: 1px solid black;*/
    display: block;
    float: left;
    text-align: center;
}
#barra-centro{
    width: 37%;
    margin-left: 2%;
    margin-right: 2%;
    display: block;
    float: left;
}
#barra-direita{
    width: 36%;
    display: block;
    float: left;
}
.titulo{
    background-color: rgb(41, 76, 113);
    color: white;
    padding-left: 3px;
    display: block;
    margin-bottom: 10px;
    line-height: 2em;
}
#entrevistas{
    margin-left: 0px;
    line-height: 2em;
    text-align: left;
}
#entrevistas li span a{
    text-decoration: none;
    margin: 5px 0px;
    padding: 5px 10px;
    color: black;
}
#entrevistas li span a:hover{
    text-decoration: none;
    border-radius: 3px;
    background-color: rgb(113, 153, 189);
    margin: 5px 0px;
    color: black;
}
#news input{
    margin: 5px 0px;
}
#barra-centro img{
    width: 100%;
}
#barra-direita img{
    width: 100%;
}
h3{
    color: white;
    background-color: red;
    font-weight: bold;
}
.leia-mais{
    color: brown;
}

.noticia-pequena{
    display: block;
    position: relative;
    float: left;
    margin-bottom: 20px;
}
.imd-div{
    width: 150px;
    display: inline;
    float: left;
}
.titulo-not{
    margin-left: 5px;
    color: rgb(6, 78, 78);
    float: left;
    display: inline;
}
.noticia{
    left: 10px;
    display: block;
    position: relative;
}
#rodape{
    display: block;
    float: left;
    width: 80%;
    bottom: 0px;
    margin-top: 50px;
    font-size: 1.2em;
    line-height: 80px;
    background-color: rgb(41, 76, 113);
    color: white;
    padding-left: 20%;
}

