#header{
    background-color: rgb(238, 215, 84);
    width: 100%;
    padding-top: 30px;
}    

#Logo{
    float: center;
    left: 45%;
    text-align: center;
}

#barra-navegação{
    padding: 15px 0px;
    background-color: rgb(238, 215, 84);
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.caminhos{
    padding: 5px 15px;
    color: white;
    font-weight: bold;
}
.caminhos:link{
    text-decoration: none;

}
.caminhos:hover{
    background-color: rgb(0, 255, 149);
    border-radius: 50px;
}
#Conteudo{
    width: 80%;
    max-width: 920px;
    min-width: 700px;
    margin-top: 30px;
    height: 900px;
    /*border: 1px solid black;*/
    float: center;
    display: inline;
}
#postagem{
    width: 60%;
    /*border: 1px solid rgb(21, 204, 45);*/
    background-color: #fff;
    display: inline;
    float: left;
    padding: 20PX;
}
#categorias{
    width: 30%;
    /*border: 1px solid #ff0682;*/
    margin-left: 3%;
    left: 300px;
    float: left;
}
.card{
    background-color: #fff;
    width: 100%;

}
.link-pequeno:link{
    text-decoration: none;
    color: blue;
}

.titulo{
    background-color: rgb(172, 178, 184);
    font-weight: bold;
}